

  .subcategory{
    position: absolute;
    left: 90%;
    top: 0px;
    background-color: rgb(176, 186, 31);
    width: 230px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px 10px;
    min-height: 250px;
    transform: scale(0);
    animation: subcategaoryanimate 150ms ease-in-out 150ms;
    animation-fill-mode: forwards;
    transition:500ms;
    p{
        &:hover{
            background-color: grey;
        }
    }
  }

  @keyframes subcategaoryanimate {
    100%{
        transform: scale(1);
    }
  }
  

  .active{
    transition: all 0.5s;
     &:hover{
      background-color: grey;
     }
  }

.name{
    width: 100%;
    padding: 10px;
    transition: all 0.5s;
    &:hover{
     background-color: grey;
    }
}

