
  
//   .main{
//     position: relative;
//   }

  .subcategory{
    position: absolute;
    left: 90%;
    top: 0px;
    background-color:whitesmoke;
    width: 230px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px 10px;
    min-height: 250px;
    transform: scale(0);
    animation: subcategaoryanimate 150ms ease-in-out 250ms;
    animation-fill-mode: forwards;
    transition: all 0.5s;
    p{
        &:hover{
            background-color: grey;
        }
    }
  }

  @keyframes subcategaoryanimate {
    100%{
        transform: scale(1);
    }
  }
  

  .active{
    background-color: grey;

}

.name{
    width: 100%;
    padding: 10px;
}


