@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

  
  .lists{
    display: flex;
    height: 30vh;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0px 100px;
  }
      .text{
        font-size: 18px;
        font-weight: 500;
    }
  
  .list{
    cursor: pointer;
        img{
        height: 100px;
        aspect-ratio: 1/1;
        object-fit: contain;
    }
    
  }
  
  .listhover{
    position:relative;
  }
  
  .submenu{
    position: absolute;
    top: 95%;
    background-color: rgb(176, 186, 31);
    color: black
  }


  .title{
    @include flexContainer;
    justify-content: center;
    gap: 5px;
    p{
        font-size: 25px;
    }

  }
  
  .main{
    position: relative;
  }
  

  .lists .list{
    padding: 10px 0px;
    padding: 0px 15px;
    transition: all 0.5s;
    &:hover{
      background-color: grey;
      border-radius: 10px;
    }

  }
  .lists .list .submenu{
    z-index: 200;
    font-size: 20px;
    width: 200px;
    padding: 10px 15px;
    border-radius: 10px;
    min-height: 250px;

  }

  .lists .list .submenuanimation{
    transform: scale(0);
    animation: subcategaoryanimate 150ms ease-in-out 150ms;
    animation-fill-mode: forwards;
  }

  @keyframes subcategaoryanimate {
    100%{
        transform: scale(1);
    }
  }

  
  .lists .list:last-child .submenu{
  left: -110%;
  }




.arrow{
    height: 15px;
    width: 22px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    right: -10px;
}

.active{
  transition: all 0.5s;
  background-color: transparent;
}